<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="index">
    <title>10054's weather forecast</title>
    <link rel="stylesheet" href="main.css">
</head>

<body>
    <header>
        <h1>Exam ID: 10054</h1>
        <p>Gjøvik is quite cold</p>
    </header>
    
    <main>
        <div id="by-county">
            <h2>Oslo</h2>
<!--Oslo-->
            <h2>Rogaland</h2>
<!--Rogaland-->
            <h2>Møre og Romsdal</h2>
<!--Møre og Romsdal-->
            <h2>Nordland</h2>
<!--Nordland-->
            <h2>Viken</h2>
<!--Viken-->
            <h2>Innlandet</h2>
<!--Innlandet-->
            <h2>Vestfold og Telemark</h2>
<!--Vestfold og Telemark-->
            <h2>Agder</h2>
<!--Agder-->
            <h2>Vestland</h2>
<!--Vestland-->
            <h2>Trøndelag</h2>
<!--Trøndelag-->
            <h2>Troms og Finnmark</h2>
<!--Troms og Finnmark-->
        </div>
    </main>
</body>

</html>